/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to higher resolution desktops
*/
@media (min-width: 1025px) {
        .allgames-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        } 
}
/*
    ##Device = Most smartphones, tablets, ipads
    ##Screen = B/w 320px to 1024px

*/

@media (min-width: 320px) and (max-width: 1024px) {
    .allgames-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
    }
}