/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to higher resolution desktops
*/
@media (min-width: 1025px) {
    /* Aspectul titlului paginii */
    h2 {
        font-size: 2vw;
    }
    /* Aspectul textului */
    .text {
        color: white;
        font-size: 1vw;
    }
    /* Aspectului listei */
    .list {
        list-style: none;
        font-size: 1vw;
    }
    /* Imaginea fundalului */
    body {
        background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url(../images/privacypolicyWallpaper.jpg);
        height: 100%;
        font-weight:inherit;
        opacity: 0.8;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #121212;
    }
}

/*
    ##Device = Most smartphones, tablets, ipads
    ##Screen = B/w 320px to 1024px

*/

@media (min-width: 320px) and (max-width: 1024px) {
    html, body {
        height: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .content {
        flex: 1 0 auto;
    }
    .footer {
        flex-shrink: 0;
    }
    /* Aspectul titlului paginii */
    h2 {
        font-size: 20px;
    }
    /* Aspectul textului */
    .text {
        color: white;
        font-size: 15px;
    }
    .content {
        padding-left: 10%;
        padding-right: 10%;
    }
    /* Aspectului listei */
    .list {
        list-style: none;
        font-size: 15px;
    }
    /* Imaginea fundalului */
    body {
        background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url(../images/privacypolicyWallpaper.jpg);
        height: 100%;
        font-weight:inherit;
        opacity: 0.8;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #121212;
    }
}