/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to higher resolution desktops
*/
@media (min-width: 1025px) {
    h2 {
        font-size: 2vw;
        color: gold;
    }
    span {
        font-size: 2vw;
    }
    .container {
        padding: 16px;
        background-color: #1b1b1b;
        margin-left: 25%;
        margin-right: 25%;
        display: flex;
        border-bottom: blueviolet solid 2px;
    }
    .avatarLogo {
        width: 5vw;
        height: 5vw;
    }
    .avatar-title {
        font-size: 1vw;
    }
    .material-icons {
        margin-left: 4%;
        margin-right: 1%;
    }
    .text-onoff {
        font-size: 1vw;
        color: gold;
    }
    .reset-line {
        font-size: 1vw;
    }
    .reset-lineU {
        font-size: 1vw;
    }
    .reset-lineE {
        font-size: 1vw;
    }
    .below-container {
        padding: 16px;
        background-color: #1b1b1b;
        margin-left: 25%;
        margin-right: 25%;
        font-size: 1vw;
    }
    body {
        background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url(../images/profileWallpaper.jpg);
        background-repeat: no-repeat;
        font-weight:inherit;
        opacity: 0.8;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #121212;
    }
    .first-one {
       position:absolute;
       margin-top: 2.5%;
       margin-left: 8.6%; 
       text-decoration: none;
       display: flex;
    }
    .second-one {
        position:absolute;
        margin-top: 2.5%;
        margin-left: 20%;
        display: flex;
        text-decoration: none;
    }
    .third-one {
        position:absolute;
        margin-top: 2.5%;
        margin-left: 31%;
        text-decoration: none;
        display: flex;
    }
    .below-container > div {
        display: none;
    }
    .below-container > div:target {
        display: block;
    }
    .textP {
        font-size: 1.1vw;
    }
    b {
        font-size: 0.8vw;
    }
    input::-webkit-input-placeholder {
        font-size: 0.8vw;
    }
    /* Aspectul textului din casete, submit */
    input[type=submit] {
        background-color:blueviolet;
        color: white;
        padding: 2px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 0.6vw;
        margin-top: 2%;
        height: 2vw;
    }
    /* Aspectul textului din casete */
    input[type=submit]:hover {
    background-color: #a92be2;;
    }
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;;
        color: black;
        height: 2vw;
        font-size: 0.8vw;
    }
    .avatar-titledown {
        font-size: 1vw;
        display: flex;
        justify-content: center;
    }
    .container-pass {
       margin-left: auto;
       margin-right: auto;
       width: 30%;
    }
    .container-name {
       margin-left: auto;
       margin-right: auto;
       width: 30%;
    }
    .container-email {
       margin-left: auto;
       margin-right: auto;
       width: 30%;
    }
}

/*
    ##Device = Most smartphones, tablets, ipads
    ##Screen = B/w 320px to 1024px

*/

@media (min-width: 320px) and (max-width: 1024px) {
    .topper {
        display: none;
    }
    .avatarLogo {
        margin-top: 4%;
        width: 50px;
        height: 50px;
        display: inline-block;
    }
    #itwo {
        display: none !important;
    }
     .container {
        background-color: #1b1b1b;
        box-sizing: border-box;
        padding-left: 5%;
        padding-right: 10%;
        border-bottom: blueviolet solid 2px;
        padding-bottom: 10%;
        padding-top: 5%;
    }
    .avatar-title {
        font-size: 15px;
        display: flex;
        margin-top: 2%;
    }
    .first-one {
        font-size: 10px;
        text-decoration: none;
        display: flex;
        margin-top: 5%;
    }
    .second-one {
        font-size: 10px;
        text-decoration: none;
        display: flex;
        margin-top: 5%;
    }
    .third-one {
        font-size: 10px;
        text-decoration: none;
        display: flex;
        margin-top: 5%;
    }
    .below-container > div {
        display: none;
    }
    .below-container > div:target {
        display: block;
    }
    .textP {
        font-size: 10px;
    }
    .below-container {
        padding: 16px;
        background-color: #1b1b1b;
    }
    b {
        font-size: 10px;
    }
    input::-webkit-input-placeholder {
        font-size: 10px;
    }
    /* Aspectul textului din casete, submit */
    input[type=submit] {
        background-color:blueviolet;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 2%;
    }
    /* Aspectul textului din casete */
    input[type=submit]:hover {
    background-color: #a92be2;;
    }
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;;
        color: black;
        height: 2vw;
        font-size: 10px;
    }
    .content {
        padding-left: 10%;
        padding-right: 10%;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    body {
        background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url(../images/profileWallpaper.jpg);
        background-repeat: no-repeat;
        font-weight:inherit;
        opacity: 0.8;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #121212;
    
    }
    .avatar-titledown {
        font-size: 10px;
        display: flex;
        justify-content: center;
    }
}
